net clk_i     loc=a9;
net cntr_o<0> loc = a2;        # net gpio03 loc = a2;
net cntr_o<1> loc = b2;        # net gpio05 loc = b2;
net cntr_o<2> loc = b1;        # net gpio07 loc = b1;
net cntr_o<3> loc = b15;       # net gpio08 loc = b15;
net cntr_o<4> loc = b16;       # net gpio10 loc = b16;
net cntr_o<5> loc = c1;        # net gpio11 loc = c1;
net cntr_o<6> loc = c15;       # net gpio12 loc = c15;
net cntr_o<7> loc = e2;        # net gpio13 loc = e2;
net cntr_o<8> loc = e1;        # net gpio15 loc = e1;
net cntr_o<9> loc = c16;       # net gpio16 loc = c16;
net cntr_o<10> loc = f16;       # net gpio18 loc = f16;
net cntr_o<11> loc = f2;        # net gpio19 loc = f2;
net cntr_o<12> loc = f1;        # net gpio21 loc = f1;
net cntr_o<13> loc = f15;       # net gpio22 loc = f15;
net cntr_o<14> loc = h2;        # net gpio23 loc = h2;
net cntr_o<15> loc = j14;       # net gpio24 loc = j14;
net cntr_o<16> loc = j16;       # net gpio26 loc = j16;
net cntr_o<17> loc = h1;        # net gpio29 loc = h1;
net cntr_o<18> loc = k15;       # net gpio31 loc = k15;
net cntr_o<19> loc = k16;       # net gpio32 loc = k16;
net cntr_o<20> loc = m16;       # net gpio33 loc = m16;
net cntr_o<21> loc = r16;       # net gpio35 loc = r16;
net cntr_o<22> loc = m15;       # net gpio36 loc = m15;
net cntr_o<23> loc = r7;        # net gpio37 loc = r7;
net cntr_o<24> loc = r15;       # net gpio38 loc = r15;
net cntr_o<25> loc = t7;        # net gpio40 loc = t7;
